
.Lookup_content_container2{
    width: 55vw;
    height: 45vw;
    box-shadow: 1vw 1vw 5vw #c5c5c5;
    text-align: center;
    opacity: 0;
    animation: opacity_effect 0.6s ease 0.7s forwards;
    background-image: url("../../../../public/Main_cocktail/Lookup_Certificate/background_picture2.png");
    background-size: 55vw;
}